recursive-include plasticity_ai/assets/css *
recursive-include plasticity_ai/assets/icon *
recursive-include plasticity_ai/assets/dist *
recursive-include plasticity_ai/resources *
include plasticity_ai/assets/index.html