.nav-item {
    padding: 0.33rem 0.5rem;
}

.tab-content {
    padding: 0.5rem 1rem;
}

.items_list {
    max-height: 85vh;
}

.params {
    width: 100%;    
}

.params td {
    padding: 1px 4px;
    white-space: nowrap;
}

.params select, .params input:not([type='checkbox']) {
    width: 100%;
}

.vec3 {
    display: inline-flex;
}

.vec3 input[type="number"] {
    flex-grow: 0;
    flex-shrink: 1;
    min-width: 0;
}

h2 {
    font-size: 1.5rem;
}

select {
    max-width: 100%;
}